basicsr==1.4.2
h5py==3.13.0
matplotlib==3.10.1
networkx==3.4.2
numpy==1.24.1
opencv-python==4.11.0.86
pillow==11.2.1
requests==2.32.3
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
six==1.17.0
sympy==1.13.1
tensorboard-data-server==0.7.2
torch==2.1.2
torchvision==0.16.2
tqdm==4.67.1
wheel==0.45.1
